<div class="container">
    <div class="row mt20 text-center">
        <div class="col-md-6 offset-md-3 text-center">
            <h1><b>WELCOME TO CUSTOMER DASHBOARD</b></h1>

            <h4>HI CUSTOMER RAISE YOUR TICKET !!!</h4>


            <mat-form-field appearance="fill">
                <mat-label>Select Bug Type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let Bug of Bugs" [value]="Bug.value">
                        {{Bug.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field appearance="fill">
                <mat-label>Priority</mat-label>
                <mat-select>
                    <mat-option *ngFor="let Priority of Priorities" [value]="Priority.value">
                        {{Priority.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

       
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Description</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
              
        

        </div>
        <button mat-raised-button color="primary">Submit</button>
    </div>
</div>

<br><br><br><br><br><br><br><br>